{% extends 'Main/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/user.css'%}">
<link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css'%}">
<style>
    .font-mod {
        font-size: 12.5pt;
    }
</style>
{% endblock style %}

{% block body %}

<div class="slide-item overlay"
    style="background-image: url('{% static 'images/reg_banner.jpg' %}'); background-size: cover; background-position: center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center text-center mx-auto">
                <h1 class="heading mb-5">Discharge Patient</h1>
                <p><a href="#register" class="btn btn-primary font-mod">Start</a></p>
            </div>
        </div>
    </div>
</div>

<!--User Details -->
<section class="user-form mt-4 pt-4" id="register">
    <h2 class="mt-4">Discharge Patient</h2>

    <div class="container">
        <!-- <form method="POST" action="{% url 'patient-search' %}">
            {% csrf_token %}
            <div class="">
                <div class="form-group">
                    <label class=" control-label" for="healthid">Patient's Health ID and Name</label>
                    {% if "patient_id" in request.session and False %}
                    <input type="text" class="form-control" name="healthid" id="healthid" value="{{patient.healthid}}">
                    {% else %}
                    <select class="form-control inputselect" id="admissionid" name="admissionid" required>
                        {% if admittedPatients %}
                        {% for admittedPatient in admittedPatients %}
                        {% if admittedPatient.patientid == patient.id %}
                        <option value="{{admittedPatient.id}}" selected><a
                                href="/user/dischargePatient/?id={{admittedPatient.id}}">{{patient.healthid}} -
                                {{admittedPatient.patientname}}</a></option>
                        {% else %}
                        <option value="{{admittedPatient.id}}"><a
                                href="/user/dischargePatient/?id={{admittedPatient.id}}">{{patient.healthid}} -
                                {{admittedPatient.patientname}}</a></option>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <option value="#">Currently No Patients are admitted!</option>
                        {% endif %}
                    </select>
                    {% endif %}
                    <select class="form-control inputselect" id="redirectUrl" name="redirectUrl" hidden required>
                        <option value="0">Admit</option>
                        <option value="1" selected>Discharge</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form> -->
        {% if admittedPatients %}
        <label class=" control-label" for="healthid">Patient's Name and Cause</label>
        <ul class="list-group" id="healthid">
            {% for admittedPatient in admittedPatients %}
            {% if admittedPatient.patientid == patient.id %}
            <li class="list-group-item active" aria-current="true"><a style="color: white;"
                href="/user/dischargePatient/?id={{admittedPatient.id}}">{{admittedPatient.patientname}} - Admitted For - {{admittedPatient.cause}}</a></li>
            {% else %}
            <li class="list-group-item"><a
                href="/user/dischargePatient/?id={{admittedPatient.id}}">{{admittedPatient.patientname}} - Admitted For - {{admittedPatient.cause}}</a></li>
            {% endif %}
            {% endfor %}
            {% else %}
            <option value="#">Currently No Patients are admitted!</option>
        </ul>
        {% endif %}
    </div>
    <hr class="container">
    {% if "patient_id" in request.session %}
    <form action="{% url 'discharge-patient' %}" class="space-remove" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <!-- Diseases -->
                <div class="col-md-6  col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Reason behind Admission<span class="required"> *</span></label>
                        {% if admissionDetails.cause == "" %}
                        <input type="text" class="form-control" name="cause" id="cause" required>
                        {% else %}
                        <input type="text" class="form-control" name="cause" id="cause"
                            value="{{admissionDetails.cause}}" required>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Total Bill<span class="required"> *</span></label>
                        <input type="text" class="form-control" name="billamt" id="billamt" required>
                    </div>
                </div>
                <!--Please List Patient's Current Medications -->
                <div class="col-md-6  col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="textarea-input dashboard ">
                            <label class="control-label">Patient's Current Prescription*</label>
                            {% if admissionDetails.cause == "" %}
                            <textarea placeholder="Description..." class="form-control InputEmail1" id="text-ar"
                                style="height: 110px;" name="prescription" required></textarea>
                            {% else %}
                            <textarea placeholder="Description..." class="form-control InputEmail1" id="text-ar"
                                style="height: 110px;" name="prescription" required>{{admissionDetails.prescription}}</textarea>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!--Upload Reports -->
                {% if admissionDetails.report != "" %}
                <div class="col-md-6  col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="upload-pic">
                            <label class="control-label mb-3 pb-3" for="InputEmail1">Upload Patient's Reports</label>
                            <div class="mypic text-center mt-4 pt-4">
                                <img class="img-fluid" src="{{admissionDetails.report}}">
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <!--Upload Reports -->
                <div class="col-md-6  col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="upload-pic">
                            <label class="control-label" for="InputEmail1">Upload Patient's Bill*</label>
                            <input type="file" class="form-control InputEmail1" aria-describedby="emailHelp" name="bill"
                                name="bill" required>
                            <div class="mypic text-center">
                                <img class="img-fluid" src="{% static 'images/upload.png' %}"
                                    style="padding-top: 20px;">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" for="ispaid">Did Patient pay total bill amount?<span class="required"> *</span></label>
                        <select class="form-control inputselect" id="ispaid" name="ispaid" required>
                        <option value="1">Yes</option>
                        <option value="0" selected>No</option>
                        </select>
                    </div>
                </div>
                <!-- User Address Details Ends -->

                <!-- Button -->
                <div class="container">
                    <div class="row userprofile-btn">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-primary text-uppercase text-center">submit</button>
                        </div>
                    </div>
                </div>
                <!-- Button Ends -->
            </div>
        </div>
    </form>
    {% endif %}
</section>
{% endblock body %}