{% extends 'Main/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/user.css'%}">
<link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css'%}">
<style>
    .font-mod {
        font-size: 12.5pt;
    }

    img {
        margin-top: 10px;
        margin-right: 10px;
        width: 200px;
        height: 200px;
    }
</style>
{% endblock style %}

{% block body %}

<div class="slide-item overlay"
    style="background-image: url('{% static 'images/reg_banner.jpg' %}'); background-size: cover; background-position: center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center text-center mx-auto">
                <h1 class="heading mb-5">NGO Help Panel</h1>
                <p><a href="#register" class="btn btn-primary font-mod">Start</a></p>
            </div>
        </div>
    </div>
</div>

<!--User Details -->
<section class="user-form mt-4 pt-4" id="register">
    <h2 class="mt-4">NGO Pay</h2>

    <div class="container mb-4">
        <form action="{% url 'ngo-howMuchPay' %}" class="space-remove" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6  col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Patient Name<span class="required"> *</span></label>
                        <input type="text" class="form-control" value="{{admission.patientname}}" required readonly
                            name="billamt" id="billamt" required>
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Hospital Name<span class="required"> *</span></label>
                        <input type="text" class="form-control" value="{{admission.hospitalname}}" required readonly
                            name="billamt" id="billamt" required>
                    </div>
                </div>


                <div class="col-md-6  col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Patient's Admit Date<span class="required"> *</span></label>
                        <input type="text" class="form-control" value="{{admission.admitDate}}" required readonly
                            name="billamt" id="billamt" required>
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Patient's Pending Bill Amount<span class="required"> *</span></label>
                        <input type="text" class="form-control" value="{{admission.pendingbillamt}}" required readonly
                            name="billamt" id="billamt" required>
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Patient's Bill Amount<span class="required"> *</span></label>
                        <input type="text" class="form-control" value="{{admission.billamt}}" required readonly
                            name="billamt" id="billamt" required>
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Patient's Requested Amount<span class="required"> *</span></label>
                        <input type="text" class="form-control" value="{{helpRequest.requestedamt}}" required readonly
                            name="billamt" id="billamt" required>
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Patient's Requested Date<span class="required"> *</span></label>
                        <input type="text" class="form-control" value="{{helpRequest.requestdate}}" required readonly
                            name="billamt" id="billamt" required>
                    </div>
                </div>


                <div class="col-md-6  col-sm-6 col-xs-12">
                    <div class="form-group">

                        {% if helpRequest.isapproved or helpRequest.responsedate %}
                        <label class="control-label">Amount That NGO Paid To The Patient<span
                                class="required">
                                *</span></label>

                        <input type="text" class="form-control" value="{{helpRequest.approvedamt}}" required readonly name="helpamt" id="helpamt" >

                        {% else %}
                        <label class="control-label">How Much Amount NGO Want To Pay To The Patient<span
                                class="required">
                                *</span></label>

                        <input type="text" class="form-control" value="" required name="helpamt" id="helpamt" required>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Patient's Reports<span class="required"> *</span></label>
                        <div class="mypic text-center">
                            <a href="{{admission.report}}" target="_blank">
                                <img class="img-fluid" src="{{admission.report}}">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6  col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Patient's Bill<span class="required"> *</span></label>
                        <div class="mypic text-center">
                            <a href="{{admission.bill}}" target="_blank">
                                <img class="img-fluid" src="{{admission.bill}}">
                            </a>
                        </div>
                    </div>
                </div>

                <input type="text" name="helpid" value="{{helpRequest.id}}" hidden>
            </div>

            <!-- Button -->
            {% if not helpRequest.isapproved and not helpRequest.responsedate %}
            <div class="container">
                <div class="row userprofile-btn">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <button type="submit" class="btn btn-primary text-uppercase text-center">submit</button>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- Button Ends -->
        </form>
    </div>
</section>
{% endblock body %}