{% extends 'Main/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/user.css'%}">
<link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css'%}">
<style>
  .font-mod {
    font-size: 12.5pt;
  }
</style>
{% endblock style %}

{% block body %}

{% if userData.fname != "" %}
<div class="slide-item overlay"
  style="background-image: url('{{userData.profilePic}}'); background-size: cover; background-position: center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center text-center mx-auto">
        <h1 class="heading mb-5">Welcome {{userData.fname}} {{userData.lname}}</h1>
        <p><a href="#register" class="btn btn-primary font-mod">Start</a></p>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="slide-item overlay"
  style="background-image: url('{% static 'images/prof_banner.jpg' %}'); background-size: cover; background-position: center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center text-center mx-auto">
        <h1 class="heading mb-5">User Profile</h1>
        <p><a href="#register" class="btn btn-primary font-mod">Start</a></p>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if not userData.basicFlag %}
<!-- User Profile -->
<!--User Details -->
<section class="user-form" id="register">
  <form action="{% url 'user-profile' %}" class="space-remove" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Basic Details</h2>
    <div class="container">
      <div class="row">
        <!-- First Name -->
        <div class="col-md-6  col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label">First Name<span class="required"> *</span></label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter your first name" required>
          </div>
        </div>
        <!-- Last Name -->
        <div class="col-md-6  col-sm-6 col-xs-12">
          <div class="form-group">
            <label class=" control-label">Last Name<span class="required"> *</span></label>
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter your Surname" required>
          </div>
        </div>
        <!-- Date Of Birth-->
        <div class="col-md-6  col-sm-6 col-xs-12">
          <div class="form-group">
            <label class=" control-label">Date Of Birth</label>
            <div class="wrapper">
              <input type="text" class="form-control InputEmail1 " placeholder="Enter your date of birth"
                onfocus="(this.type='date')" onblur="(this.type='text')" id="dob" name="dob" required>
              <img src="{% static 'images/calendar.png' %}" alt="calender">
              <!--     <i class="fa fa-calendar" aria-hidden="true"></i>  -->
            </div>
          </div>
        </div>
        <!-- Gender -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class=" control-label" for="gender">Gender</label>
            <select class="form-control inputselect" name="gender" required>
              <option value="-1">Select your gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
        <!-- Phone Number -->
        <div class="col-md-6  col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label">Phone Number</label>
            <div class="container">
              <div class="row">
                <div class="col-md-5 col-sm-5 col-3 col-xl-3 col-lg-4 col-xs-5  phone">
                  <div class="marginright">
                    <select class="form-control inputselect" required>
                      <option>+91</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-7 col-sm-7 col-9 col-xl-9 col-lg-8 col-xs-7 phone ex-phone">
                  <input type="text" class="form-control InputEmail1" id="contact" name="contact"
                    placeholder="Enter your phone number" required>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Adhar card Number -->
        <div class="col-md-6  col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label">Adhar Card Number<span class="required"> *</span></label>
            <input type="text" class="form-control" id="aadhar" name="aadhar"
              placeholder="Enter your Adhar Card Number" required>
          </div>
        </div>
        <!--Upload Image -->
        <div class="col-md-6  col-sm-6 col-xs-12">
          <div class="form-group">
            <div class="upload-pic">
              <label class="control-label" for="InputEmail1">Upload Adhar card*</label>
              <input type="file" class="form-control InputEmail1" aria-describedby="emailHelp" name="aadharPic"
                id="aadharPic" required>
              <div class="mypic text-center">
                <img class="img-fluid" src="{% static 'images/upload.png' %}">
                <h6>Upload a picture</h6>
              </div>
            </div>
          </div>
        </div>
        <!--Upload Image -->
        <div class="col-md-6  col-sm-6 col-xs-12">
          <div class="form-group">
            <div class="upload-pic">
              <label class="control-label" for="InputEmail1">Profile Picture *</label>
              <input type="file" class="form-control InputEmail1" aria-describedby="emailHelp" name="profilePic"
                id="aadharPic" required>
              <div class="mypic text-center">
                <img class="img-fluid" src="{% static 'images/upload.png' %}">
                <h6>Upload a picture</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- User Details Ends -->
      <!-- User Address Details  -->
      <div class="row">
        <!-- Address Line 1 -->
        <div class="col-md-6  col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label">Address Line 1<span class="required"> *</span></label>
            <input type="text" class="form-control" id="address1" name="address1" placeholder="Enter your address" required>
          </div>
        </div>
        <!-- Address Line 2 -->
        <div class="col-md-6  col-sm-6 col-xs-12">
          <div class="form-group">
            <label class=" control-label">Address Line 2</label>
            <input type="text" class="form-control" id="address2" name="address2" placeholder="Enter your address" required>
          </div>
        </div>
        <!-- City -->
        <div class="col-md-6  col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label">City<span class="required"> *</span></label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Enter your city" required>
          </div>
        </div>
        <!-- State -->
        <div class="col-md-6  col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label">State<span class="required"> *</span></label>
            <input type="text" class="form-control" id="state" name="state" placeholder="Enter your state" required>
          </div>
        </div>
        <!-- ZipCode -->
        <div class="col-md-6  col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label">ZipCode<span class="required"> *</span></label>
            <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Enter your zipcode" required>
          </div>
        </div>
        <!-- Country -->
        <div class="col-md-6  col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label">Country<span class="required"> *</span></label>
            <select class="form-control inputselect" id="country" name="country" required>
              <option value="-1">Select your country</option>
              {% for v in countries %}
              <option value="{{v}}">{{v}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
    <!-- Button -->
    <div class="container">
      <div class="row userprofile-btn">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <button type="submit" class="btn btn-primary text-uppercase text-center">submit</button>
        </div>
      </div>
    </div>
    <!-- Button Ends -->
  </form>
</section>
<!-- User Address Details Ends -->
{% endif %}

{% endblock body %}