{% extends 'Main/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/register.css'%}">
{% endblock style %}

{% block body %}

<div class="slide-item overlay"
    style="background-image: url('{% static 'images/reg_banner.jpg' %}'); background-size: cover; background-position: center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center text-center mx-auto">
                <h1 class="heading mb-5">Register With Us</h1>
                <p><a href="#register" class="btn btn-primary">Get started</a></p>
            </div>
        </div>
    </div>
</div>

<div id="register" class="container my-3">
    <h1 style="text-align: center;">Registration</h1>
    <form class="" action="{% url 'user-registration' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp"
                required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" id="exampleInputPassword1" class="form-control" name="pass"
                aria-describedby="passwordHelpBlock" required>
            <div id="passwordHelpBlock" class="form-text">
                Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces,
                special characters, or emoji.
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2" name="pass2" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    function validate() {
        let pass1 = document.getElementById("exampleInputPassword1");
        let pass2 = document.getElementById("exampleInputPassword2");
        console.log("Hi");
        if (pass1 === pass2) {
            ;
        }
    }
</script>
{% endblock body %}