<div class="mb-3">
    <label for="fname" class="form-label">First Name</label>
    <input type="text" class="form-control" id="fname" placeholder="What's your good name?" required>
</div>
<div class="mb-3">
    <label for="lname" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="lname" placeholder="Surname Here" required>
</div>
<div class="mb-3">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Address Please!" required>
</div>
<div class="mb-3">
    <label for="inputAddress2" class="form-label">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Add More? Here Please">
</div>
<div class="mb-3">
    <label for="inputCountry" class="form-label">Country</label>
    <select id="inputCountry" class="form-select form-control" required>
        <option selected>--- Select ---</option>
        <option>...</option>
    </select>
</div>
<div class="mb-3">
    <label for="inputState" class="form-label">State</label>
    <select id="inputState" class="form-select form-control" required>
        <option selected>--- Select ---</option>
        <option>...</option>
    </select>
</div>
<div class="mb-3">
    <label for="inputCity" class="form-label">City</label>
    <select id="inputCity" class="form-select form-control" required>
        <option selected>--- Select ---</option>
        <option>...</option>
    </select>
</div>
<div class="mb-3">
    <label for="zip" class="form-label">ZIP Code / Area Pin Code</label>
    <input type="text" class="form-control" id="zip" placeholder="9211" required>
</div>
<hr>
